<h1><%= @doctor.name %></h1>

<h3>Department: <%= @doctor.department %></h3>

<ul>
<% @doctor.appointments.each do |appoint| %>
    <li><%= appoint.appointment_date_time %>, <%= link_to appoint.patient.name, patient_path(appoint.patient)%></li>
<%end%>
</ul>